<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>registry.hub.docker.com</id>
            <username>${DOCKER_HUB_USER_NAME}</username>
            <password>${DOCKER_HUB_PASSWORD}</password>
        </server>
        <server>
            <id>github.com</id>
            <password>${GITHUB_API_TOKEN_CIRCLECI}</password>
            <username>${GITHUB_USERNAME_CIRCLECI}</username>
<!--            <developerConnection>scm:git:git@github.com:Complyt/complyt.git</developerConnection>-->
<!--            <url>git@github.com:idhub-io/idhub-api.git</url>-->
        </server>
    </servers>
</settings>