# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745

# Adds Qualifier anotation to constructor parameter
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
# Ignores code coverage from lombok's generated code
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true