<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_FOLDER" value="./logs"/>
    <property name="LOGS_FILENAME" value="sales-tax"/>
    <springProperty scope="context" name="sales-tax" source="spring.application.name"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%magenta(appName=api-gateway), %green(host=${HOSTNAME}), ip=${IP}, %highlight(level=%-5level), %blue(traceId=%X{traceId:-NONE}), %yellow(spanId=%X{spanId:-NONE}), %cyan(threadId=%thread)] %logger{0}: %msg%n</pattern>
        </layout>
    </appender>
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/${LOGS_FILENAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[appName=sales-tax, host=${HOSTNAME}, ip=${IP}, traceId=%X{traceId:-NONE}, spanId=%X{spanId:-NONE}, level=%level, threadId=%thread] %logger{0}: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS_FOLDER}/archived/${LOGS_FILENAME}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>
    <!-- LOG "io.complyt*" at TRACE level -->
    <logger name="io.complyt" level="trace" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
</configuration>