<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/Complyt/complyt</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>github</id>
            <!--            <password>{ldGPckS6EBwHFEk+XqhusO1nn1VDIGQhfI8PfMGp08o=}</password>-->
            <password>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</password>
            <!--   <password>AAAAC3NzaC1lZDI1NTE5AAAAIB4rm4mfE+GXePSQ2unAB5Yhi8ctYl2zGbOIKnD3mLQ2</password>-->
            <username>eyalTam</username>
        </server>
    </servers>
</settings>